body {
    font-family: 'Muli', sans-serif;
	font-size: .925rem;
    line-height: 1.5;
    color: #c4c3ca;
    background-color: #23274e;
    margin-left: 5%;

}

h1 {
    font-size: 2.5rem;
}

.entete {
    text-align: center;
}

.title {
    color : blueviolet;
}

button {
    color: #c4c3ca;
    background-color: #23274e;
    border: 2px solid blueviolet;
    font-size: smaller;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
    color: #23274e;
    border: 2px solid #23274e;
    transition: 0.25s;
}

button a {
    color: #c4c3ca;
    text-decoration: none;
}


/* Show blockchain block */
.row {
    display: none;
    background-color: azure;
    color : #0f1338;
    border: 2px solid #252525;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left : -4%;

}

.show {
    display: block;
}

.show-row {
    color: #c4c3ca;
    background-color: #23274e;
    border: 2px solid blueviolet;
    font-size: smaller;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    margin-top: 10px;
}

.show-row button:hover {
    background-color: blueviolet;
    color: #23274e;
    transition: 0.25s;
}