<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filaname='css/admin/style.css') }}">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Welcome on Admin Panel</h1>

    <button class="linkk get_chain"><a href="admin/get_chain">Voir la blockchian</a></button>
    <button class="linkk valid"><a href="admin/valid">Vérifier la validité de la blockchain</a></button>
    <button class="exit"><a href="/">Retour</a></button>
</body>
</html>