body {
    background: #484848;
    color : #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    text-align: center;
}

button {
    background: #484848 ;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
}

button:hover {
    background: #fff;
    color: #252525;
    border: 1px solid #252525;
}

button a {
    text-decoration: none;
    color : black;
}