<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_about.css') }}">
    <title>En savoir +</title>
</head>
<body>
    <h1>Test</h1>

    <h2>Notre projet</h2>

    <p>L'objectif est de crée un vote sécuriser sur internet pour a l'avenir permettre au citoyen de voter plus facilement.</p>

    <h2>La blockchain</h2>

    <p>Une blockchain est utilisé aujourd'hui pour les crypthomonaie. Cela permet de rendre chaque transaction sécurisé.
    Dans le cadre du projet c'est les information des votants qui seront sécurisé et classée. Par la suite il sera plus facile
    de voter car cela pourra être fait depuis chez sois. Ce qui peut être une stratégie politique pour réaugmenter le nombre de votant.</p>

    <br>
    <br>

    <p class="credit">Nous 😎 (et faudra changer le text-shadow de kikkoo lol que j'ai mis mais flemme) </p>

    <footer>
        <p>© 2023 - Tous droits réservés (nan je dec)</p>
    </footer>
</body>
</html>
