<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_voted.css') }}">
    <title>Merci pour votre avis !</title>
</head>
<body>
    <div class="entete">
        <h1><span class="title">E-</span>VOTE</h1>
    </div>
    <h1>Merci pour votre vote !</h1>
    <p>Le vote pour {{ vote }} a bien été pris en compte</p>
    <br>
    <button><a href="/dashboard/{{ name }}-{{ fname }}">Retour à l'accueil</a></button>

    <div class="raw">

        
    </div>
</body>
</html>